<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <title>Login Page</title>
</head>
<body>
    <%-include('common/header')%>
    <h1>this is login page</h1>
    
</body>
</html>